<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-aume">
  <div class="logo-baseline" >
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo-escalade.png" %>
  <h4 class="dark-color">Aume Escalade</h4>
  <% end %>
  </div>


 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "La salle", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>

      <li class="nav-item">
        <%= link_to "Infos pratiques", infos_path, class: "nav-link", id:"btn-navbar" %>
      </li>

      <li class="nav-item">
        <%= link_to "Inscription", inscriptions_new_path, class: "nav-link", id:"btn-inscription" %>
      </li>
    </ul>
  </div>
</div>
