<div class="navbar navbar-expand-sm navbar-light navbar-aume">
  <div class="d-flex inline-logo">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo-escalade.png" %>
  <h3>Aume Escalade</h3>
  <% end %>
  </div>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "L'association", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>

      <li class="nav-item">
        <%= link_to "La salle", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>

      <li class="nav-item">
        <%= link_to "Infos pratiques", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>

      <li class="nav-item">
        <%= link_to "Inscription", inscriptions_new_path, class: "nav-link", id:"btn-inscription" %>
      </li>
    </ul>
  </div>
</div>
