<%= render 'shared/banner-home' %>


<section>
<div class="container-fluid concept my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 contenu-concept">

        <h2>Bienvenue au <span class="highlighted-red">Club</span> !</h2>
        <p>Depuis 2013, l'association Aume a vocation à rendre accessible et passionnante la pratique de l'escalade outdoor et indoor aux grimpeurs de Saint-Gervais et ses environs. Elle permet à toutes et tous de s'épanouir dans ce sport mythique de la région, et à certains talents de se révéler, grâce à l'accompagnement aux petits soins de Julien et Luc, deux diplômés d'Etat chevronnés.</p>
      </div>

      <div class="col-12 col-lg-6">
        <%= image_tag "https://www.outsideonline.com/sites/default/files/styles/full-page/public/2019/11/22/rock-climbing-palestine-main_h.jpg?itok=rw3_5YFA", height:400%>
      </div>
    </div>
  </div>
</div>
</section>


<section>
<div class="container-fluid concept my-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col-12 col-lg-6">
         <%= image_tag "https://image.shutterstock.com/image-illustration/love-climbing-sign-600w-118575706.jpg", height:400%>
      </div>

      <div class="col-12 col-lg-6 contenu-concept">
        <h2>Du partage et des  <span class="highlighted-red">valeurs</span></h2>
        <p>Soutenue par de nombreux partenaires locaux, Aume cherche à partager les grandes valeurs de l'escalade et du sport au plus grand nombre : audace, plaisir, respect, et à permettre à tous les publics, jeunes et adultes, de s'épanouir à plus haut niveau.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section>
<div class="container-fluid concept my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 contenu-concept">
        <h2>Passer en mode <span class="highlighted-red">intensif</span></h2>
        <p>L'idée du Club est d'aller au delà de sa zone de confort et de gagner en confiance rapidement. Au travers de 2 entraînements hebdomadaires, et de nombreux stages et contests toute l'année, tout est mis en oeuvre pour améliorer son niveau, toujours avec un focus sur le plaisir et la sécurité.</p>
      </div>
      <div class="col-12 col-lg-6">
         <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-GWGwo7p2awTvoI2XkAJXekUkwUfg2wHZDg&usqp=CAU", height:400%>
      </div>

    </div>
  </div>
</div>
</section>

<!-- RUBRIQUE LA SALLE
 -->

<section id="section-salle" class="background-purple">
  <div class="container py-5">
    <div class="row justify-content-center align-self-center py-5 ">
      <div class="col-12 col-lg-8 align-self-center contenu-salle">
        <h2>Un QG indoor, un terrain de jeu <span class="highlighted-red">outdoor</span></h2>
        <p>Medonnet, la Ducherre, Bionassay... Les spots naturels regorgent dans la Vallée de l'Arve et offrent un potentiel incroyable aux grimpeurs de la région. Pour diversifier la pratique et garantir des entraînements toute l'année et même par Toutatis, le Club a en parallèle transformé l'un des piliers du pont de Saint-Gervais en salle de pratique ludique et atypique.
          </p>
        <%= link_to "Découvrir la salle", salle_path, class: "btn-savoir-plus"  %>
      </div>
    </div>
  </div>
</section>


<!-- RUBRIQUE TARIFS
 -->

 <section id="section-tarifs">
  <div class="container my-5">
    <h2>Nos  <span class="highlighted-red">tarifs</span></h2>
    <p>Deux entraînements de 3 heures par semaine, assurance incluse</p>
  </div>
    <%= render 'shared/bloc-tarifs' %>
 </section>


<!-- RUBRIQUE PLANNING
 -->

<section>
<div class="container-fluid background-purple concept py-5 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 contenu-concept">
        <h2>Le planning  <span class="highlighted-red">hebdo</span></h2>
        <p>Donné à titre indicatif. Il peut être amené à évoluer en fonction des saisons.</p>
          <div class="img-fluid">
          <%= image_tag "https://www.planningpme.fr/Images/agenda-planning-journalier.gif?dc=201906191700", id:'img-planning'%>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- RUBRIQUE PARTENAIRES
 -->
<section>
  <div class="container bloc-partenaires">
    <div class="title-partenaires">
      <h2>Big Up à <span class="highlighted-red">nos partenaires</span></h2>
      <p>Et oui, si ça marche, c'est aussi grâce à eux ! Alors, coeur avec les doigts :)</p>
    </div>
    <div class="logos-partenaires">
      <%= image_tag "partners/cie-guides.jpeg", alt: "Logo de la Compagnie des Guides", width: 180, height: 180 %>
      <%= image_tag "partners/edelrid-logo.png", alt: "Logo Edelrid", width: 180, height: 180 %>
      <%= image_tag "partners/mjc.jpeg", alt: "Logo de la MJC", width: 180, height: 180 %>
      <%= image_tag "partners/saint-gervais-logo.jpg", alt: "Logo de Saint-Gervais-Les Bains", width: 180, height: 180 %>
      <%= image_tag "partners/secours-montagne.png", alt: "Logo Secours en Montagne", width: 180, height: 180 %>
    </div>
  </div>
</section>


<%= render "shared/footer" %>

