<%= render "shared/banner"  %>
<!-- <div class="wrapper salle">
  <div class="salle-image">
  </div>
  <div class="contenu-salle">
    <h2 id="salle-ancre">La salle
      <span class="highlighted-red">conviviale</span>
    </h2>
    <p>Aume, c’est une association lancée par deux professionnels de l'escalade passionnés, et portés par l'envie de transmettre le goût de ce sport si mythique de la région. Créée fin 2013 et soutenue par de nombreux partenaires locaux, Aume a vocation à partager plusieurs valeurs au plus grand nombre : audace, plaisir, respect, et à permettre aux jeunes talents de s'épanouir à plus haut niveau.</p>
  </div>
</div> -->
<div class="bloc-offers">
  <div class="card-offer">
    <div class="card-title">
      <h2><span class="highlighted-red">License Club</span></h2>
      <div class="card-info">
        <div class="offer-content">
          <ul>
            <li>Cours collectifs en journée</li>
            <li>Libre accès à volonté</li>
            <li>Stages bloc, voie et grande voie</li>
            <li>Challenges saisonniers</li>
          </ul>
        </div>
        <%= link_to license_path do %>
        <div class="buttons-know-more">
          <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-offer">
    <div class="card-title">
      <h2><span class="highlighted-red">La grimpe libre</span></h2>
      <div class="card-info">
        <div class="offer-content">
          <ul>
            <li>Plages horaires dédiées en soirée</li>
            <li>Stages bloc, voie et grande voie</li>
            <li>Challenges saisonniers</li>
          </ul>
          <br>
        </div>
       <%= link_to public_path do %>
        <div class="buttons-know-more">
          <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-offer">
    <div class="card-title">
      <h2><span class="highlighted-red">Evénements privés</span></h2>
      <div class="card-info">
        <div class="offer-content">
          <ul>
            <li>Privatisation Entreprises</li>
            <li>Cours particuliers à la demande</li>
            <li>Evénements sur mesure</li>
          </ul>
          <br>
        </div>
        <%= link_to business_path do %>
        <div class="bouton-rouge">
          <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- RUBRIQUE LA SALLE
 -->
<div class="wrapper salle">
  <div class="flex-salle">
    <div class="contenu-salle">
      <h2>La salle <span class="highlighted-red">conviviale</span></h2>
      <p>Aume, c’est une association lancée par deux professionnels de l'escalade passionnés, et portés par l'envie de transmettre le goût de ce sport si mythique de la région. Créée fin 2013 et soutenue par de nombreux partenaires locaux, Aume a vocation à partager plusieurs valeurs au plus grand nombre : audace, plaisir, respect, et à permettre aux jeunes talents de s'épanouir à plus haut niveau.</p>
      <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
    </div>
    <div class="image" id="salle-image">
      <%= image_tag "https://images.pexels.com/photos/113737/rope-knitting-heart-love-113737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", width:800%>
    </div>
  </div>
</div>
<!-- RUBRIQUE CONCEPT
 -->
<div class="wrapper content">
  <div class="flex-concept">
    <div class="image" id="concept-image">
      <%= image_tag "https://images.pexels.com/photos/113737/rope-knitting-heart-love-113737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", width:800, height:600%>
    </div>
    <div class="contenu-concept">
      <h2>Le concept <span class="highlighted-red">associatif</span></h2>
      <p>Aume, c’est une association lancée par deux professionnels de l'escalade passionnés, et portés par l'envie de transmettre le goût de ce sport si mythique de la région. Créée fin 2013 et soutenue par de nombreux partenaires locaux, Aume a vocation à partager plusieurs valeurs au plus grand nombre : audace, plaisir, respect, et à permettre aux jeunes talents de s'épanouir à plus haut niveau.</p>
    </div>
  </div>
</div>
<!-- RUBRIQUE PLANNING
 -->
<div class="container-planning">
  <div class="planning-title">
    <h2>Le planning
      <span class="highlighted-red">hebdomadaire</span>
    </h2>
    <p>Planning "classique", à titre indicatif.</p>
    <%= image_tag "https://www.planningpme.fr/Images/agenda-planning-journalier.gif?dc=201906191700", width:1200%>
  </div>
</div>
<!-- RUBRIQUE PARTENAIRES
 -->
<div class="bloc-partenaires">
  <div class="title-partenaires">
    <h2>Big Up à <span class="highlighted-red">nos partenaires</span></h2>
  </div>
  <div class="logos-partenaires">
    <%= image_tag "partners/cie-guides.jpeg", alt: "Logo de la Compagnie des Guides", width: 150, height: 150 %>
    <%= image_tag "partners/edelrid-logo.png", alt: "Logo Edelrid", width: 150, height: 150 %>
    <%= image_tag "partners/mjc.jpeg", alt: "Logo de la MJC", width: 150, height: 150 %>
    <%= image_tag "partners/saint-gervais-logo.jpg", alt: "Logo de Saint-Gervais-Les Bains", width: 150, height: 150 %>
    <%= image_tag "partners/secours-montagne.png", alt: "Logo Secours en Montagne", width: 150, height: 150 %>
  </div>
</div>
<%= render "shared/footer" %>
