<%= render 'shared/navbar' %>
<div class="home-video-wrapper3 banner">
  <div class="container d-flex lecture-video">
    <div class="row align-self-center">
      <h1 id="h1-home">Les infos pratiques</h1>
    </div>
  </div>
</div>


<section id="lame-moniteurs" class="background-purple">
  <div class="container py-5">
    <div class="row justify-content-center align-self-center py-5 ">
      <div class="col-12 col-lg-8 align-self-center contenu-salle">
        <h2>Les 3 super <span class="highlighted-red">moniteurs BE</span></h2>
      </div>
    </div>
  </div>
  <div class="container portraits">
    <div class="moniteur">
      <%= image_tag "logo-escalade.png", alt: "Portrait Julien Buttin", width: 200 %>
      <p>Julien BUTTIN</p>
    </div>

    <div class="moniteur">
      <%= image_tag "logo-escalade.png", alt: "Portrait Luc", width: 200 %>
      <p>Luc SOLBAS</p>
    </div>

    <div class="moniteur">
      <%= image_tag "logo-escalade.png", alt: "Portrait Martial", width: 200 %>
      <p>Martial PELLISSIER</p>
    </div>
  </div>
</section>


<%= render 'shared/map' %>
<%= render 'shared/footer' %>

