<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1564769662533-4f00a87b4056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1414&q=80);">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-escalade.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "La salle", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inscription", inscriptions_new_path, class: "nav-link", id:"btn-inscription" %>
      </li>
    </ul>
  </div>
</div>

  <div class="container">
    <h1>La seule limite, c'est la <span class="highlighted-red">votre</span></h1>
  </div>
</div>

<!-- MAIN-SALLE
 -->
<div class="container chaussons-niveaux">
  <h2>Les voies par niveau</h2>
  <div class="cards-niveaux">
    <div class="row align-items-center justify-content-center flex-niveau">
      <div class="col-sm-6 col align-self-center m-auto">
        <div class="color">
          <%= image_tag "https://www.chullanka.com/media/catalog/product/cache/1/image/1024x/9df78eab33525d08d6e5fb8d27136e95/s/k/skwama.jpg", width:100 %>
          <div class="chausson-infos">
            <p>Equivalent 4a-4c+</p>
            <p>7 voies</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col align-self-center m-auto">
        <div class="color">
          <%= image_tag "https://www.auvieuxcampeur.fr/media/catalog/product/cache/296aa8722a15384a963f616d19a39bf6/8/0/806670032.jpg", width: 100 %>
          <div class="chausson-infos">
            <p>Equivalent 5a-5c+</p>
            <p>12 voies</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col align-self-center m-auto">
        <div class="color">
          <%= image_tag "https://www.eb-escalade.com/wp-content/uploads/2019/09/chausson-escalade-nelula1.jpg", width: 100%>
          <div class="chausson-infos">
            <p>Equivalent 5a-5c+</p>
            <p>12 voies</p>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="row align-items-center justify-content-center flex-niveau my-">
      <div class="col-sm-6 m-auto">
        <div class="color">
          <%= image_tag "https://planetgrimpe.com/wp-content/uploads/2018/06/scarpa-furia-s-chaussons-descalade-1024x1024.jpg", width: 100%>
          <div class="chausson-infos">
            <p>Equivalent 5a-5c+</p>
            <p>12 voies</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-auto">
        <div class="color">
          <%= image_tag "https://boutique-lesartsdelagrimpe.com/client/cache/produit/500_______blackopium-ballerine-800x534_3459.jpg", width: 100 %>
          <div class="chausson-infos">
            <p>Equivalent 5a-5c+</p>
            <p>12 voies</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-auto">
        <div class="color">
          <%= image_tag "https://www.lechaussemontagne.fr/284-large_default/chausson-escalade-canin-leader.jpg", width: 100 %>
          <div class="chausson-infos">
            <p>Equivalent 5a-5c+</p>
            <p>12 voies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Découvrez la salle en images</h2>
</div>
<%= render 'shared/carousel' %>

<div class="lame-infos-pratiques">
  <h2>Envie d'essayer ? Profitez d'une entrée gratuite pour vous faire un avis !</h2>
</div>
