<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1564769662533-4f00a87b4056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1414&q=80);">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-escalade.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "La salle", salle_path, class: "nav-link", id:"btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inscription", inscriptions_new_path, class: "nav-link", id:"btn-inscription" %>
      </li>
    </ul>
  </div>
</div>

  <div class="container">
    <h1>La seule limite, c'est la <span class="highlighted-red">votre</span></h1>
  </div>
</div>

<div class="container-block">
  <div class="row justify-content-center">
    <div class="col-sm-6 tarifs">
      <h2>Les voies par niveau</h2>
      <div class="flex-niveau">
        <div class="jaune">
          <%= image_tag "https://www.chullanka.com/media/catalog/product/cache/1/image/1024x/9df78eab33525d08d6e5fb8d27136e95/s/k/skwama.jpg", width:100 %>
          <h3>Equivalent 4a-4c+</h3>
          <p>7 voies</p>
        </div>
        <div class="vert">
          <%= image_tag "https://www.auvieuxcampeur.fr/media/catalog/product/cache/296aa8722a15384a963f616d19a39bf6/8/0/806670032.jpg", width: 100 %>
          <h3>Equivalent 5a-5c+</h3>
          <p>12 voies</p>
        </div>
        <div class="bleu">
          <%= image_tag "https://www.eb-escalade.com/wp-content/uploads/2019/09/chausson-escalade-nelula1.jpg", width: 100%>
          <h3>Equivalent 5a-5c+</h3>
          <p>12 voies</p>
         </div>
        <div class="flex-niveau">
         <div class="rouge">
          <%= image_tag "https://planetgrimpe.com/wp-content/uploads/2018/06/scarpa-furia-s-chaussons-descalade-1024x1024.jpg", width: 100%>
          <h3>Equivalent 5a-5c+</h3>
          <p>12 voies</p>
         </div>
          <div class="noir">
            <%= image_tag "https://boutique-lesartsdelagrimpe.com/client/cache/produit/500_______blackopium-ballerine-800x534_3459.jpg", width: 100 %>
            <h3>Equivalent 5a-5c+</h3>
            <p>12 voies</p>
          </div>
          <div class="violet">
            <%= image_tag "https://www.lechaussemontagne.fr/284-large_default/chausson-escalade-canin-leader.jpg", width: 100 %>
            <h3>Equivalent 5a-5c+</h3>
            <p>12 voies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Immersion en images</h2>
</div>
<%= render 'shared/carousel' %>

<div class="lame-infos-pratiques">
  <h2>Envie d'essayer ? Profitez d'une entrée gratuite pour vous faire un avis !</h2>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-4-sm float-right">
      <%= image_tag "logo-escalade.png" %>
    </div>
      <div class="col-8-sm">
        <ul class="nav justify-content-end">
          <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
<div class="container mr-sm-3 toto">
  <h2>Coucou Didier</h2>
  <div class="row">
    <div class="col-6">toto</div>
    <div class="col-6">tata</div>
  </div>
</div>
