<%= render 'shared/banner' %>


<section>
  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 lame-centered">
        <h2 class="h2-dark">Un lieu insolite</h2>
        <p>Venez vous immerger dans un lieu atypique, sous 12 mètres de plafond, aménagé dans le pilier du Pont de saint-Gervais. <br><br>Deux espaces bloc et voie invitent à l'expérimentation et à l'entraînement individuel et collectif. La salle a une capacité d'accueil maximale de 21 personnes, ce qui permet une pratique confortable et chaleureuse aux pratiquants. Un espace extérieur en libre accès est également proposé aux curieux et débutants. </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container-fluid background-purple concept my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 contenu-concept text-left options-libres">
          <h2>Grimpez sans être adhérent au Club</span> !</h2>
          <p>Le mardi et le jeudi, de 19h00 à 21h00. Au choix : </p>
           <p>- Grimpez en autonomie sous la surveillance d'un pro, avec votre propre matériel (sauf cordes)
         <strong>Tarif : 8€ l'entrée</strong></p>
          <p>- Profitez d'une session initiation ou perfectionnement animée par un pro, matériel fourni.
          <strong>Tarif : 20€ l'entrée</strong></p>
          <p>- Pass Annuel accès séance libre : <strong>100€</strong></p>
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag "https://www.outsideonline.com/sites/default/files/styles/full-page/public/2019/11/22/rock-climbing-palestine-main_h.jpg?itok=rw3_5YFA", height:400%>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
<div class="container-fluid concept my-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col-12 col-lg-6">
         <%= image_tag "https://image.shutterstock.com/image-illustration/love-climbing-sign-600w-118575706.jpg", height:400%>
      </div>

      <div class="col-12 col-lg-6 contenu-concept">
        <h2>Louez la salle pour vos événements pro</h2>
        <p>Vous êtes guide ou BE et vous cherchez un lieu en cas de pluie ? Vous êtes une association ou une structure qui cherche une salle pour ses grimpeurs? Séminaire ou challenge sportif ? <br><br>Contactez-nous pour privatiser la salle, à partir de <strong>50€ les deux heures.</strong></p>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container d-flex justify-content-center">
  </div>
  <%= render 'shared/carousel' %>
</section>

<section>
  <div class="container-fluid background-purple my-5">
    <div class="container py-5">
      <h2 class="h2-dark my-5">Les voies par niveau</h2>
      <ul class="chaussons-box">
        <li class="chausson-item"><%= image_tag "https://www.chullanka.com/media/catalog/product/cache/1/image/1024x/9df78eab33525d08d6e5fb8d27136e95/s/k/skwama.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.auvieuxcampeur.fr/media/catalog/product/cache/296aa8722a15384a963f616d19a39bf6/8/0/806670032.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.eb-escalade.com/wp-content/uploads/2019/09/chausson-escalade-nelula1.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://planetgrimpe.com/wp-content/uploads/2018/06/scarpa-furia-s-chaussons-descalade-1024x1024.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://boutique-lesartsdelagrimpe.com/client/cache/produit/500_______blackopium-ballerine-800x534_3459.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.lechaussemontagne.fr/284-large_default/chausson-escalade-canin-leader.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>
      </ul>
    </div>
  </div>
</section>



<section>
  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 lame-centered">
        <h2 class="h2-dark">Envie de fraîcheur ? </h2>
        <p>Pas de panique ! Les voies sont régulièrement renouvelées afin de toujours offrir un vent d'air pur et de nouveaux challenges à nos grimpeurs adorés :)</p>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>

