<%= render 'shared/banner' %>


<section>
  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 lame-centered">
        <h2 class="h2-dark">Un lieu insolite</h2>
        <p>Venez vous immerger dans un lieu atypique de plus de 500m2, sous 12 mètres de plafond, aménagé dans le pilier du Pont de saint-Gervais. <br><br>Deux espaces bloc et voie invitent à l'expérimentation et à l'entraînement individuel et collectif. Un espace extérieur en libre accès est également proposé aux curieux et débutants. </p>
      </div>
    </div>
  </div>
</section>

<!-- MAIN-SALLE
 -->

<section>
  <div class="container-fluid background-purple my-5">
    <div class="container py-5">
      <h2 class="h2-dark my-5">Les voies par niveau</h2>
      <ul class="chaussons-box">
        <li class="chausson-item"><%= image_tag "https://www.chullanka.com/media/catalog/product/cache/1/image/1024x/9df78eab33525d08d6e5fb8d27136e95/s/k/skwama.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.auvieuxcampeur.fr/media/catalog/product/cache/296aa8722a15384a963f616d19a39bf6/8/0/806670032.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.eb-escalade.com/wp-content/uploads/2019/09/chausson-escalade-nelula1.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://planetgrimpe.com/wp-content/uploads/2018/06/scarpa-furia-s-chaussons-descalade-1024x1024.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://boutique-lesartsdelagrimpe.com/client/cache/produit/500_______blackopium-ballerine-800x534_3459.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>

        <li class="chausson-item"><%= image_tag "https://www.lechaussemontagne.fr/284-large_default/chausson-escalade-canin-leader.jpg", width:100 %>
          <p>10 voies 4a-4c</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container d-flex justify-content-center">
    <h2>La salle en images</h2>
  </div>
  <%= render 'shared/carousel' %>
</section>


<section>
  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 lame-centered">
        <h2 class="h2-dark">Envie de fraîcheur ? </h2>
        <p>Pas de panique ! Les voies sont régulièrement renouvelées afin de toujours offrir un vent d'air pur et de nouveaux challenges à nos grimpeurs adorés :)</p>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>

